<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Shop Catalog</title>
		<link rel="stylesheet" type="text/css" href="../css/style.css">
		<!--<link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>-->
	</head>
	<body id="background">

		<div class="content">

			<% if (items.length > 0) { %>

				<div class="item-list-flex">

					<% for (var i = 0; i < items.length; i++) { %>

						<div class="item-container">

							<div class="item-image-container">

								<img src="<%= items[i].imageURL%>", width="225px", height="225px"><br>
							</div>

							<span class="bold"><%= items[i].name %></span><br>
							<span>$<%= items[i].price %></span><br>
							<% if (items[i].quantity > 0) {%>

								<span>In stock: <%= items[i].quantity %></span><br>
								<span class="description"><%= items[i].description %></span>
								<form action="/add_to_cart" method="post" class="item-button">

									<input name="itemID" type="hidden" value=<%= items[i].itemID%>>
									<button type="submit" value="checkout">Add to Cart</button>
								</form>
							<% } else { %>

								<span>Out of stock</span><br>
								<span class="description"><%= items[i].description %></span>
							<% } %>
						</div>
					<% } %>
				</div>

				<footer class="bubble static-footer">

					<form action="/" method="post">
		
						<button type="submit" value="back" class="button-larger">Back</button>
					</form>
				</footer>
			<% } else { %>
				<div class="bubble">

					<p>No products to see here! Come back after generating some data.</p>

					<footer class="static-footer">

						<form action="/" method="post">
			
							<button type="submit" value="back" class="button-larger">Back</button>
						</form>
					</footer>
				</div>
			<% } %>
		</div>
	</body>
</html>