<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Your Cart</title>
		<link rel="stylesheet" type="text/css" href="../css/style.css">
		<!--<link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>-->
	</head>
	<body id="background">

		<div class="content">

			<h2>Past Orders</h2>

			<% if (typeof data != "undefined" && typeof data.items != "undefined" && data.orders.length > 0) { %>

				<div class="item-list-flex">

					<% for (let order in data.orders) { %>

						<div class="order-container">
		
							<span class="bold"><%= order.name %></span><br>
							<span>$<%= order.date %></span><br>

							<% for (let item in order.items) {%>

								<span>Price: $<%= item.price %></span><br>
								<span>Quantity: $<%= item.quantity %></span>
								<span>Total: $<%= item.total %></span>
							<% } %>
						</div>
					<% } %>
				</div>

				<footer class="bubble static-footer">

					<form action="/" method="post">

						<button type="submit" value="back" class="button-larger">Back</button>
					</form>
				</footer>
			<% } else { %>
				<div class="bubble">

					<form action="/" method="post">
			
						<button type="submit" value="back" class="button-larger">Back</button>
					</form>
					
					<p>No orders to see here! Go do some shopping through the shop catalog.</p>
				</div>
			<% } %>
		</div>
	</body>
</html>