<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Your Cart</title>
		<link rel="stylesheet" type="text/css" href="../css/style.css">
		<!--<link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>-->
	</head>
	<body id="background">

		<div class="content">

			<% if (typeof data != "undefined" && typeof data.orders != "undefined" && data.orders.length > 0) { %>

				<div class="center">

					<div class="bubble inline">

						<h2>Past Orders</h2>
	
						<table class="order-table">
	
							<% data.orders.forEach((order) => { %>
		
								<tr>
									<td class="order-header">
		
										Order ID: <%= order._id %><br>
										Date: <%= order.date %>
									</td>
									<td>
		
										<table class="item-table">
		
											<tr class="item-table-row">
		
												<th class="item-table-data-wide">
				
													<span>Product Name</span>
												</td>
												<th class="item-table-data">
				
													<span>Unit Price</span><br>
												</td>
												<th class="item-table-data">
				
													<span>Quantity</span>
												</td>
												<th class="item-table-data">
				
													<span>Total</span>
												</td>
											</tr>
		
											<% let total = 0 %>
		
											<% order.items.forEach((item) => {%>
												<% total += item.total; %>
												<tr class="item-table-row">
				
													<td class="item-table-data-wide">
				
														<span><%= item.name %></span>
													</td>
													<td class="item-table-data">
					
														<span>$<%= item.price %></span><br>
													</td>
													<td class="item-table-data">
					
														<span><%= item.quantity %></span>
													</td>
													<td class="item-table-data">
					
														<span>$<%= item.total %></span>
													</td>
												</tr>
												
											<% }); %>
		
											<tr class="item-table-row">
												<td class="item-table-data"></td><td></td><td></td>
												<td>$<%= total %></td>
											</tr>
		
										</table>
									</td>
								</tr>
							<% }); %>
						</table>
					</div>
				</div>

				<footer class="bubble static-footer">

					<form action="/" method="post">

						<button type="submit" value="back" class="button-larger">Back</button>
					</form>
				</div>

			<% } else { %>
				<div class="bubble">

					<p>No orders to see here! Go do some shopping through the shop catalog.</p>
					
					<form action="/" method="post">
			
						<button type="submit" value="back" class="button-larger">Back</button>
					</form>
				</div>
			<% } %>
		</div>
	</body>
</html>