<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Your Cart</title>
		<link rel="stylesheet" type="text/css" href="../css/style.css">
		<!--<link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>-->
	</head>
	<body id="background">

		<div class="content">

			<% if (typeof data != "undefined" && typeof data.orders != "undefined" && data.orders.length > 0) { %>

				<div class="center">

					<div class="bubble inline">

						<h2>Past Orders</h2>

						<form action="/view_orders" method="post">
	
							<table class="order-table">

								<% let ratingIndex = 0 %>
		
								<% for (let orderIndex = 0; orderIndex < data.orders.length; orderIndex++) { %>
									<% let order = data.orders[orderIndex] %>
			
									<tr>
										<td class="order-header">
			
											Order ID: <%= order._id %><br>
											Date: <%= order.date %>
										</td>
										<td>
			
											<table class="item-table">
			
												<tr class="item-table-row">
			
													<th class="item-table-data-wide">
					
														<span>Product Name</span>
													</td>
													<th class="item-table-data">
					
														<span>Unit Price</span><br>
													</td>
													<th class="item-table-data">
					
														<span>Quantity</span>
													</td>
													<th class="item-table-data">
					
														<span>Total</span>
													</td>
													<th class="item-table-data">
					
														<span>Rating</span>
													</td>
													<th class="item-table-data">
					
														<span></span>
													</td>
												</tr>
			
												<% let total = 0 %>
			
												<% for (let itemIndex = 0; itemIndex < order.items.length; itemIndex++) {%>
													<%	
														let item = order.items[itemIndex];
														total += item.total;
													%>
													<tr class="item-table-row">
					
														<td class="item-table-data-wide">
					
															<span><%= item.name %></span>
														</td>
														<td class="item-table-data">
						
															<span>$<%= item.price %></span><br>
														</td>
														<td class="item-table-data">
						
															<span><%= item.quantity %></span>
														</td>
														<td class="item-table-data">
						
															<span>$<%= parseFloat(item.total).toFixed(2) %></span>
														</td>
														<td class="item-table-data">
															<% if (item.rating >= 0) { %>

																<span>

																	<% for (let starCount = 0; starCount < Math.floor(item.rating); starCount++) { %>
																		★
																	<% } %>
									
																	<%= item.rating % 1 > 0 ? '⯪' : '' %>
									
																	<% for (let starCount = Math.ceil(item.rating); starCount < 5; starCount++) { %>
																		☆
																	<% } %>
																	
																	 (<%= item.rating %>)
																</span>

															<input type="hidden" name="rating" value=<%= item.rating %>>

															<% } else {%>

															<select name="rating" class="review_select" id=<%= ratingIndex %>>
																<option value=0>Choose a Rating</option>
																<option value=1>1</option>
																<option value=1.5>1.5</option>
																<option value=2>2</option>
																<option value=2.5>2.5</option>
																<option value=3>3</option>
																<option value=3.5>3.5</option>
																<option value=4>4</option>
																<option value=4.5>4.5</option>
																<option value=5>5</option>
															</select>

															<% } %>
														</td>
														<td class="item-table-data">

															<% if (item.rating < 0) { %>

																<button type="submit" name="ratingInfo" value=<%= `{"orderIndex":${orderIndex},"itemIndex":${itemIndex},"ratingIndex":${ratingIndex},"itemID":${item.itemID}}` %> class="button_larger" id=<%= `button_${ratingIndex}` %> disabled>Submit</button>
																
																<% } %>
														</td>
													</tr>
													
													<% ratingIndex++; %>
												<% } %>
			
												<tr class="item-table-row">
													<td class="item-table-data"></td><td></td><td></td>
													<td>$<%= parseFloat(total).toFixed(2) %></td>
													<td></td><td></td>
												</tr>
			
											</table>
										</td>
									</tr>
								<% } %>
							</table>
						</form>
					</div>
				</div>

				<footer class="bubble static-footer">

					<form action="/" method="post">

						<button type="submit" value="back" class="button-larger">Back</button>
					</form>
				</div>

			<% } else { %>
				<div class="bubble">

					<p>No orders to see here! Go do some shopping through the shop catalog.</p>
					
					<form action="/" method="post">
			
						<button type="submit" value="back" class="button-larger">Back</button>
					</form>
				</div>
			<% } %>
		</div>

		<script src="../js/view_orders.js"></script>

	</body>
</html>